//colores textos
$color-font1: #000;
$color-font2: #fff; 
$color-font3: #F22281;
$color-font4: rgb(77, 76, 76);

//colores state buttons

/////////////////////////////////////////////////////////////////////////

//fonts
$font-principal: 'Raleway', sans-serif;
//$font-secundaria:

//typefaces
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$x-bold: 800;
$black: 900;

//font-sizes
$xxxl: 90px;
$xxl: 50px;
$xl: 45px;
$l: 26px;
$m: 19px;
$s: 16px;
$xs: 12px;


